<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Task Manager</h1>
        <nav>
          <a href="{{ url_for('login')}}" class = "button">Logout</a>
          <a href="{{ url_for('search', user_id=user._id) }}" class="button">Search</a>
          <a href="{{ url_for('base') }}" class="button">Main</a>
        </nav>
      </header>
      <main>{% block container %} {% endblock %}</main>
      
    </div>
  </body>
</html>