{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>

    <section class="search-container">
        <form action="{{ url_for('search', user_id=user._id) }}" method="GET">
            <input type="text" name="query" placeholder="Search tasks...">
            <button type="submit">Search</button>
        </form>
    </section>

    <section class="search-results">
        <h2>My Tasks</h2>
        <ul class="task-list">
            {% for task in search_results %}
                <li class="task-item">
                    <span>{{ task.name }}</span>
                    <div class="task-container">
                        <input type="checkbox" class="task-checkbox" id="task{{ task._id }}">
                        <div class="task-details">
                            <p class="styled-input">Title: {{ task.title }}</p>
                            <p class="styled-input">Course: {{ task.course }}</p>
                            <p class="styled-input">Due Date: {{ task.date }}</p>
                            <p class="urgent-due">
                                {% if (task.date - current_date_time).days < 3 %}
                                    Due in 3 days
                                {% endif %}
                            </p>
                            <a href="{{url_for('edit', task_id=task._id, user_id=user._id)}}" class="button">Edit</a>
                            <a href="{{url_for('delete', task_id=task._id, user_id=user._id)}}" class="button">Delete</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
    
{% endblock %}
